[submodule "lib/xArm-CPLUS-SDK"]
	path = lib/xArm-CPLUS-SDK
	url = https://github.com/xArm-Developer/xArm-CPLUS-SDK.git
[submodule "lib/CLI11"]
	path = lib/CLI11
	url = https://github.com/CLIUtils/CLI11.git
